.content-container{
    width: 100%;
    margin-top: 80px;
    margin-left: 10px;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
}

.content-title-box{
    background-color: #ffffff;
    border: solid 1px #dddddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}

.content-content-box{
    background-color: #ffffff;
    border: solid 1px #dddddd;
    border-radius: 5px;
    padding: 20px;
}