.sidebar-container{
    border: 1px solid black;
    min-height: calc(100vh - 3.5rem);
    background-color: #19222d;
    width: 14rem;
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    z-index: 1030;
    opacity: 1;
    min-height: 100vh;
    transition: 1s;
}

.sidebar-title{
  color: #868e96;
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
}

.sidebar-menu{
  color: #ffffff;
}

.sidebar-menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.sidebar-menu li{
  list-style: none;
  padding-left: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  transition: 1s;
  cursor: pointer
}

.sidebar-menu li:hover{
  background-color: #999999;
}

.sidebar-menu-title{
  display:inline-block;
  margin-left: 26px;
}

.sidebar-menu-icon{
  display: inline-block;
  color: #eeeeee;
}

.sidebar-cancel{
    color: #eeeeee;
    text-align: right;
    margin-right: 15px;
    font-size: 220%;
    margin-top: 20px;
    cursor: pointer;
}

.mobile-sidebar-width{
  width: 280px !important;
}

.mobile-sidebar-display{
  display: block !important;
}

@media only screen and (max-width: 992px) {
    .sidebar-container {
      z-index: 9999;
      width: 0px;
    }
    .sidebar-title{
      display: none;
      margin-top: 10px;
    }
    .sidebar-menu{
      display: none;
    }
    .sidebar-cancel{
      display: none;
    }
    .sidebar-menu-title{
      font-size: 180%;
    }
}
